<% stylesheets 'wysiwyg-area-edit' %>
<% javascripts "#{controller.request.protocol}s3.amazonaws.com/tinymce-cdn/tiny_mce.js", 'wysiwyg-area' %>

<div class="content">
<% fields_for_page_object do |f| %>
  <%= f.text_area :content, :class => "wysiwyg-area-tinymce", :id => "app-wysiwyg-area-#{@page_object.urn}" %>
<% end %>
</div>
